@charset "UTF-8";

body {
	margin: 0px;
	padding: 0px;
	
}



.container {
	width: 100%;
	height: 100vh;
}

.menu{ 
	width: 50px;
	height:100vh;
	background-color: blue;
	float:left;
	overflow: hidden;
	position:absolute;
	margin:0;
	padding:0;
	
}

.menu:hover{
	transition: 0.3s;
	width: 190px;
}

.menu-item{
	width:190px;
	height: 50px;
	margin: 5px;
   
	color: white;
	box-sizing: border-box;
	line-height: 50px;
	padding-left: 5px;
	overflow: hidden;
	
	
}

.menu-item i{
	vertical-align: middle;
	margin-top:-5px;
	 padding-left:6px;
	
}
.menu-item:hover{
	width: 180px;
	height: 50px;
	margin-left:5px;
	background-color: #c0c0c0;
	box-sizing: border-box;
	border-radius: 10px;
}

.main{ 
	margin-left: 50px;
	width: calc(100% - 50px);
	height: 100vh;
	float:left;
}

.article{
	
	width:calc(100% - 20px);
	min-height:calc(100vh - 20px);
	height:auto;
	margin: 10px;
	box-sizing: border-box;
	
}

h1{
	
	margin-top: 0;
	
}

.box {
	width:  100px;
	height: 100px;
	padding: 10px;
	text-align: center;
	line-height: 100px;
	border-radius: 15px;
	overflow: hidden;
	transition: 0.3s;
	border: 0px;
	margin: 150px;
	float: left;
	background-color: yellow;
}

.comment{
		width: 100%; 
	height: 100px;
	padding: 5px;
	line-height: 30px;
	overflow: visible;
	animation: fadeInUp 1s;
	
}
.box:hover{
	font-size: large;
	font-weight: bolder;
	margin: 0px;
	height: 200px;
	width: 200px;
	line-height: 100px;
	transition:0.4s;
	border-radius: 20px;
}

